@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  color: white;
}

h1 {
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 0.8rem;
  }
}

html {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-image: url("./images/bg-stars.svg"), url("./images/pattern-hills.svg"), -webkit-gradient(linear, left top, left bottom, from(#191a24), to(#291e21));
  background-image: url("./images/bg-stars.svg"), url("./images/pattern-hills.svg"), linear-gradient(to bottom, #191a24, #291e21);
  background-repeat: no-repeat, no-repeat;
  background-position: right 0vh top 0vh, left -40vh bottom 0vh;
  height: 100%;
}

@media (min-width: 764px) {
  body {
    background-position: right 0vh top 0vh, left 0vh bottom 0vh;
    background-size: 100vw;
  }
}

.card {
  margin: 0 0.25rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card-body {
  position: relative;
}

@media screen and (min-width: 640px) {
  .card {
    margin: 0 0.65rem;
  }
}

.card-top,
.card-bottom {
  position: relative;
  z-index: 1;
}

.card-top-bg,
.card-bottom-bg {
  position: absolute;
  z-index: 0;
}

.card-top-bg {
  top: 0;
}

.card-bottom-bg {
  bottom: 0;
}

.card-top,
.card-top-bg {
  border-radius: 10px 10px 0 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.card-top::before,
.card-top-bg::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  border-radius: 0 100% 0 0;
  background-color: #191a24;
  width: 0.25rem;
  height: 0.25rem;
}

.card-top::after,
.card-top-bg::after {
  position: absolute;
  bottom: 0;
  content: " ";
  background-color: #191a24;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100% 0 0 0;
  right: 0;
}

.card-top,
.card-bottom,
.card-top-bg,
.card-bottom-bg {
  width: 4.4rem;
  height: 2.1rem;
  overflow: hidden;
  border: 0 solid #191a24;
  background-color: #2c2c44;
}

@media screen and (min-width: 640px) {
  .card-top,
  .card-bottom,
  .card-top-bg,
  .card-bottom-bg {
    width: 6.2rem;
    height: 3rem;
  }
}

.card-bottom,
.card-bottom-bg {
  border-radius: 0 0 10px 10px;
  background-color: #34364f;
  -webkit-box-shadow: #101118 2px 5px 5px;
          box-shadow: #101118 2px 5px 5px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.card-bottom::before,
.card-bottom-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  border-radius: 0 0 100% 0;
  background-color: #191a24;
  width: 0.25rem;
  height: 0.25rem;
}

.card-bottom::after,
.card-bottom-bg::after {
  position: absolute;
  top: 0;
  content: " ";
  background-color: #191a24;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0 0 0 100%;
  right: 0;
}

.card-bottom > span, .card-bottom-bg > span {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1;
  color: #ff5c89;
  font-size: 1.7rem;
}

@media screen and (min-width: 640px) {
  .card-bottom > span, .card-bottom-bg > span {
    font-size: 3rem;
    letter-spacing: 1.5px;
  }
}

.card-top > span, .card-top-bg > span {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 1;
  color: #ff5c89;
  font-size: 1.7rem;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@media screen and (min-width: 640px) {
  .card-top > span, .card-top-bg > span {
    font-size: 3rem;
    letter-spacing: 1.5px;
  }
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.8rem;
}

.card-footer span {
  color: #8486a9;
  font-size: 0.55rem;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40%;
}

.footer {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2.5rem;
}

.footer a {
  margin: 0 2rem;
}

.footer a:hover {
  -webkit-filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg) brightness(101%) contrast(102%);
          filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg) brightness(101%) contrast(102%);
}

.main-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-section-header {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3.85rem;
}

@-webkit-keyframes top-to-bottom {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@keyframes top-to-bottom {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@-webkit-keyframes bottom-to-top {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
}

@keyframes bottom-to-top {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
}

/*    Modal    */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-form {
  width: 325px;
  height: 480px;
  border: 3px solid #343650;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #291e21;
}

.modal-form-button-start {
  width: 80px;
  padding: 0.4rem 0;
  background-color: #343650;
  border-radius: 10px;
  margin-top: 1rem;
  color: #d64f70;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.modal-form-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.modal-form-input-group input {
  width: 100px;
  height: 30px;
  background-color: #343650;
  border: 2px solid #d64f70;
  border-radius: 10px;
  outline: none;
  color: #d64f70;
  font-size: 1.5rem;
  text-align: center;
}

.modal-form-input-group input::-webkit-inner-spin-button, .modal-form-input-group input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-form label {
  color: #d64f70;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.modal h1 {
  color: white;
}

.close-icon {
  width: 50px;
  height: 50px;
  float: right;
}

.close-icon-container {
  width: 100%;
  display: block;
}

#close-button {
  width: 50px;
  float: right;
  background: transparent;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=estilos.css.map */