@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

// Neutral
$white: hsl(0, 0%, 100%);
$dark-desatured-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(345, 16%, 14%);
$very-dark-mostly-black-blue: hsl(234, 17%, 12%);

// Primary
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

//Card
$top-card: #2c2c44;
$bottom-card: #34364f;

$soft-red-top: #d64f70;
$soft-red-bottom: #ff5c89;

* {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  color: $white;
}

h1 {
  letter-spacing: 0.5rem;
  text-align: center;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-image: url("./images/bg-stars.svg"),
    url("./images/pattern-hills.svg"),
    linear-gradient(to bottom, $very-dark-mostly-black-blue, $very-dark-blue);
  background-repeat: no-repeat, no-repeat;
  background-position: right 0vh top 0vh, left -40vh bottom 0vh;
  height: 100%;
}

@media (min-width: 764px) {
  body {
    background-position: right 0vh top 0vh, left 0vh bottom 0vh;
    background-size: 100vw;
  }
}

.card {
  margin: 0 0.25rem;
}

.card-top,
.card-bottom {
  width: 4.4rem;
  height: 2rem;
  position: relative;
}

.card-top {
  border-radius: 10px 10px 0 0;
  background-color: $top-card;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    border-radius: 0 100% 0 0;
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
  }
  &::after {
    position: absolute;
    bottom: 0;
    content: " ";
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100% 0 0 0;
    right: 0;
  }
}

.card-bottom {
  border-radius: 0 0 10px 10px;
  background-color: $bottom-card;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    border-radius: 0 0 100% 0;
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
  }
  &::after {
    position: absolute;
    top: 0;
    content: " ";
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0 0 0 100%;
    right: 0;
  }
}

.card-bottom-text > span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  color: $soft-red-bottom;
  font-size: 1.7rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
  & span {
    color: $grayish-blue;
    font-size: 0.55rem;
    font-variant: small-caps;
    letter-spacing: 1px;
  }
}

.counter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}

.main-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &-header {
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
