@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

// Neutral
$white: hsl(0, 0%, 100%);
$dark-desatured-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(345, 16%, 14%);
$very-dark-mostly-black-blue: hsl(234, 17%, 12%);
$card-shadow-color: hsl(233, 20%, 8%);
// Primary
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

//Card
$top-card: #2c2c44;
$bottom-card: #34364f;

$soft-red: #d64f70;
$soft-red-bottom: #ff5c89;

* {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  color: $white;
}

h1 {
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 1.2rem;

  @media screen and (min-width: 640px) {
    font-size: 0.8rem;
  }
}

html {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-image: url("./images/bg-stars.svg"),
    url("./images/pattern-hills.svg"),
    linear-gradient(to bottom, $very-dark-mostly-black-blue, $very-dark-blue);
  background-repeat: no-repeat, no-repeat;
  background-position: right 0vh top 0vh, left -40vh bottom 0vh;
  height: 100%;
}

@media (min-width: 764px) {
  body {
    background-position: right 0vh top 0vh, left 0vh bottom 0vh;
    background-size: 100vw;
  }
}

.card {
  margin: 0 0.25rem;
  transition: all 0.5s ease-in-out;
  
  &-body {
    position: relative;
  }

  @media screen and (min-width:640px) {
    margin: 0 0.65rem
  }
}

.card-top,
.card-bottom {
  position: relative;
  z-index: 1;
}

.card-top-bg,
.card-bottom-bg {
  position: absolute;
  z-index: 0;
}

.card-top-bg {
  top: 0;
}

.card-bottom-bg {
  bottom: 0;
}

.card-top,
.card-top-bg {
  border-radius: 10px 10px 0 0;
  transform-origin: bottom;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    border-radius: 0 100% 0 0;
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
  }
  &::after {
    position: absolute;
    bottom: 0;
    content: " ";
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100% 0 0 0;
    right: 0;
  }
}

.card-top,
.card-bottom,
.card-top-bg,
.card-bottom-bg {
  width: 4.4rem;
  height: 2.1rem;
  overflow: hidden;
  border: 0 solid $very-dark-mostly-black-blue;
  background-color: $top-card;

  @media screen and (min-width: 640px) {
    width: 6.2rem;
    height: 3rem;
  }
}

.card-bottom,
.card-bottom-bg {
  border-radius: 0 0 10px 10px;
  background-color: $bottom-card;
  box-shadow: $card-shadow-color 2px 5px 5px;
  transform-origin: top;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    border-radius: 0 0 100% 0;
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
  }
  &::after {
    position: absolute;
    top: 0;
    content: " ";
    background-color: $very-dark-mostly-black-blue;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0 0 0 100%;
    right: 0;
  }
}

.card-bottom > span, .card-bottom-bg > span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  color: $soft-red-bottom;
  font-size: 1.7rem;

  @media screen and (min-width: 640px) {
    font-size: 3rem;
    letter-spacing: 1.5px;
  }
}

.card-top > span, .card-top-bg > span {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 1;
  color: $soft-red-bottom;
  font-size: 1.7rem;
  transform: translate(-50%, 50%);

  @media screen and (min-width: 640px) {
    font-size: 3rem;
    letter-spacing: 1.5px;
  }
}

.card-footer {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  & span {
    color: $grayish-blue;
    font-size: 0.55rem;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.counter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40%;
}

.footer {
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2.5rem;
  & a {
    margin: 0 2rem;
  }
  & a:hover {
    filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg)
                brightness(101%) contrast(102%);
  }
}

.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &-header {
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3.85rem;
  }
}

@keyframes top-to-bottom {
  0% {
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(-1, 0.1, 0, 90deg);
  }
  100% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@keyframes bottom-to-top {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(0);
  }
}



/*    Modal    */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  background-color: rgba(0,0,0,0.7);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &-form {
    width: 325px;
    height: 480px;
    border: 3px solid $dark-desatured-blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    

    &-button-start {
      width: 80px;
      padding: 0.4rem 0;
      background-color: $dark-desatured-blue;
      border-radius: 10px;
      margin-top: 1rem;
      color: $soft-red;
      font-weight: bold;
      border: 0;
      cursor: pointer;
      text-shadow: gray 0.5px 0.5px 0.5px;
    }

    &-input-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      & input {
        width: 100px;
        height: 30px;
        background-color: $dark-desatured-blue;
        border: 2px solid $soft-red;
        border-radius: 10px;
        outline: none;
        color: $soft-red;
        font-size: 1.5rem;
        text-align: center;

        &::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
          -webkit-appearance: none; 
          margin: 0; 
        }
      }
    }

    & label {
      color: $soft-red;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      text-shadow: gray 0.5px 0.5px 0.5px;
    }
  }

  & h1 {
    color: $white;
  }

}

.close-icon {
  width: 50px;
  height: 50px;
  float: right;

  &-container {
    width: 100%;
    display: block;
  }
}

#close-button {
  width: 50px;
  float: right;
  background: transparent;
  border: none;
  cursor: pointer;
}


.navbar {
  width: 100%;
  & button {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    background: transparent;
    border: none;
    color: $soft-red;
    font-size: 1rem;
    cursor: pointer;
    

    &:hover {
      opacity: 90%;
    }

    &:focus {
      opacity: 70%;
    }
  }
}
